<h1> All Artists </h1>

<% @artists.each do |artist| %>
<div id="artist-<%= artist.id %>"> 
    <%= link_to artist.name, artist_path(artist) %> <br>
    Song count: <%= artist.song_count %> song(s)
</div>

<% end %>